.login_page_container {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  // background-color: grey;
  grid-template-columns: 50% auto;


  .details_block {
    display: grid;
    justify-items: center;
    align-items: center;

    .login_details_container {
      text-align: center;

      .login_title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .login_desc {
        color: grey;
        font-size: 14px;
        margin-bottom: 20px;

        // font-weight: bold;
      }

      .google_login_button,
      .login_button {
        display: inline-block;
        width: 420px;
        padding: 12px 0px;
        margin-bottom: 20px;

        border-radius: 40px;
        font-size: 14px;
        text-align: center;
      }

      .google_login_button {
        background-color: white;
        border: 1px solid #bababa;
        font-size: 12px;
        font-weight: 600;

        .google_logo {
          height: 15px;
          vertical-align: middle;
          margin-right: 10px;
        }

        span {
          vertical-align: middle;
        }
      }

      .or_seperator {
        display: inline-grid;
        width: 420px;
        grid-template-columns: auto max-content auto;
        grid-column-gap: 10px;
        margin-bottom: 20px;

        // padding: 12px;
        // background-color: yellow;

        div {
          background-color: #bababa;
          height: 1px;
          align-self: center;
        }
      }

      .input_label {
        margin-bottom: 8px;
        text-align: left;

        span {
          color: red;
          font-size: 12px;
          vertical-align: top;
        }
      }

      input {
        width: 420px;
        padding: 12px 15px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid #bababa;
        border-radius: 40px;
      }

      .login_policy {
        font-size: 12px;
        // font-weight: 600;
        margin-bottom: 20px;
      }

      .login_button {
        background-color: black;
        color: white;
      }

    }
  }

  .image_block {

    // background-color: red;
    .image_container {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      transform: scale(0.95);
      border-radius: 50px;
      // background-color: grey;

      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;

      .image_bottom_text_block {
        position: absolute;
        left: 50%;
        bottom: 60px;
        // width: 80%;
        transform: translate(-50%, 0%);
        margin-right: -50%;
        color: white;
        text-align: center;
        font-weight: 500;
        text-shadow: 0 0 10px black;

        .image_text_title {
          font-size: 30px;
          // font-weight: bold;
          margin-bottom: 20px;
        }

        .image_text_description {
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 30px;
        }

        .highlight_container {
          display: inline-block;
          padding: 10px;
          border: 1px solid white;
          border-radius: 20px;
          font-size: 14px;

          &:last-child {
            margin-left: 10px;
          }

          svg {
            margin-right: 8px;
          }
        }
      }
    }

  }
}